<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to Quotes!
    </h1>
    <hr>
</div>


<ul>
    <div *ngFor='let quote of quotes; let i = index'>
        <li>{{quote.name}}</li>
        <button class="btn btn-primary" (click)='toogleDetails(i)'>Show Author and Votes</button>
        <app-quote-details *ngIf="quote.details" [quote]='quote' (toDelete)='removeGoal($event, i)'></app-quote-details>
    </div>
</ul>
<!--  <p *ngIf='quote.length > 5'>You have the most quotes</p> -->