#quote_div {
    border: 1px solid grey;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    border-radius: 2%;
    width: auto;
    background-color: aliceblue;
    text-align: center;
}

#quote_list {
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: maroon;
    margin-top: 10px;
}